<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006052619356-2bpv9pthact9ajcr3k4k9a4jkbfdcr8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006052619356-2bpv9pthact9ajcr3k4k9a4jkbfdcr8m</string>
	<key>API_KEY</key>
	<string>AIzaSyDjFesAezI2duf1hz_vIu0IjnCRAPr4Yvw</string>
	<key>GCM_SENDER_ID</key>
	<string>1006052619356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.semicolons.homegreencare</string>
	<key>PROJECT_ID</key>
	<string>homegreencare-9f6a9</string>
	<key>STORAGE_BUCKET</key>
	<string>homegreencare-9f6a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006052619356:ios:db418ba601cbfe36666299</string>
</dict>
</plist>